openapi: 3.0.0
info:
  title: Dtube
  description: Avalon node http/https API endpoint for developers
  version: 1.0.0
servers:
  - url: 'https://avalon.d.tube'
    description: The production API server
tags:
  - name: General
  - name: Auth
  - name: User
  - name: Transaction
  - name: Posts
components:
  parameters:
    username:
      in: path
      name: username
      schema:
        type: string
      required: true
      description: Enter username
    usernames:
      in: path
      name: usernames
      schema:
        type: string
      required: true
      description: 'Enter multiple username seperated with comma(,)'
    author:
      in: path
      name: author
      schema:
        type: string
      required: true
      description: Enter post author name
    link:
      in: path
      name: link
      schema:
        type: string
      required: true
      description: Enter post link
    block_num:
      in: path
      name: block_num
      schema:
        type: integer
      required: true
      description: Enter block number
    video_id:
      in: path
      name: video_id
      schema:
        type: string
      required: true
      description: Enter video id
  securitySchemes: {}
paths:
  /allminers:
    get:
      tags:
        - General
      summary: Top leaders
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: User id
                    name:
                      type: string
                      description: Username/Channel name
                    pub:
                      type: string
                      description: Public key
                    balance:
                      type: number
                      description: 'DTC Balance '
                    bw:
                      type: object
                      description: Bandwidth
                      properties:
                        v:
                          type: number
                        t:
                          type: number
                    vt:
                      type: object
                      description: Amount of VT to spend on the forced vote
                      properties:
                        v:
                          type: number
                        t:
                          type: number
                    pr:
                      type: object
                      properties:
                        v:
                          type: number
                        t:
                          type: number
                    uv:
                      type: number
                    approves:
                      type: array
                      description: 'Users who appove currnet leader '
                      items:
                        type: object
                    node_appr:
                      type: number
                    follows:
                      type: array
                      description: Followings
                      items:
                        type: object
                        description: ''
                    followers:
                      type: array
                      description: Followers
                      items:
                        type: object
                    keys:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          pub:
                            type: string
                          types:
                            type: array
                            items:
                              type: object
                    json:
                      type: object
                      description: A json object
                      properties:
                        node:
                          type: object
                        profile:
                          type: object
                          properties:
                            avatar:
                              type: string
                              description: User profile pic url
                            cover_image:
                              type: string
                              description: User profile cover url
                            about:
                              type: string
                              description: User about section
                            location:
                              type: string
                              description: User location
                            website:
                              type: string
                              description: User website
                            steem:
                              type: string
                              description: User steem id
                            hive:
                              type: string
                              description: User hive id
                    pub_leader:
                      type: string
                      description: Pu
              examples:
                example-1:
                  value:
                    - _id: string
                      name: string
                      pub: string
                      balance: 0
                      bw:
                        v: 0
                        t: 0
                      vt:
                        v: 0
                        t: 0
                      pr:
                        v: 0
                        t: 0
                      uv: 0
                      approves:
                        - {}
                      node_appr: 0
                      follows:
                        - {}
                      followers:
                        - {}
                      keys:
                        - id: string
                          pub: string
                          types:
                            - {}
                      json:
                        node: {}
                        profile:
                          avatar: string
                          cover_image: string
                          about: string
                          location: string
                          website: string
                          steem: string
                          hive: string
                      pub_leader: string
          headers: {}
      description: Get all top 13 leaders/miners
  '/accountPrice/{username}':
    get:
      tags:
        - General
      summary: Username availability/Price
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Return username availability/Price
  /config:
    get:
      tags:
        - General
      summary: Avalon chain config object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    accountPriceBase: 20000
                    accountPriceCharMult: 4
                    accountPriceChars: 5
                    accountPriceMin: 200
                    accountMaxLength: 50
                    accountMinLength: 1
                    allowedUsernameChars: abcdefghijklmnopqrstuvwxyz0123456789
                    allowedUsernameCharsOnlyMiddle: '-.'
                    allowRevotes: false
                    b58Alphabet: 123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz
                    block0ts: 1601477849000
                    blockTime: 3000
                    bwGrowth: 36000000
                    bwMax: 64000
                    consensusRounds: 2
                    ecoBaseRent: 0.5
                    ecoBlocks: 9600
                    ecoClaimPrecision: 3
                    ecoClaimTime: 604800000
                    ecoPunishAuthor: true
                    ecoPunishPercent: 0.5
                    ecoRentStartTime: 86400000
                    ecoRentEndTime: 302400000
                    ecoRentPrecision: 6
                    ecoStartRent: 0.75
                    followsMax: 2000
                    hotfix1: true
                    jsonMaxBytes: 60000
                    keyIdMaxLength: 25
                    leaderReward: 1
                    leaderRewardVT: 100
                    leaders: 13
                    leaderShufflePrecision: 6
                    leaderMaxVotes: 5
                    masterBalance: 10000000000
                    masterFee: 9
                    masterName: dtube
                    masterPaysForUsernames: false
                    masterPub: dTuBhkU6SUx9JEx1f4YEt34X9sC7QGso2dSrqE8eJyfz
                    masterPubLeader: dTuBhkU6SUx9JEx1f4YEt34X9sC7QGso2dSrqE8eJyfz
                    maxDrift: 200
                    maxTxPerBlock: 20
                    memoMaxLength: 250
                    notifPurge: 3600
                    notifPurgeAfter: 56
                    notifMaxMentions: 10
                    originHash: da5fe18d0844f1f97bf5a94e7780dec18b4ab015e32383ede77158e059bacbb2
                    randomBytesLength: 32
                    rewardPoolMin: 1
                    rewardPoolMult: 5
                    rewardPoolMaxShare: 0.1
                    rewardPoolUsers: 30000
                    tagMaxLength: 25
                    tagMaxPerContent: 5
                    tippedVotePrecision: 2
                    tmpForceTs: true
                    txExpirationTime: 60000
                    txLimits:
                      '14': 2
                      '15': 2
                      '19': 0
                    vtGrowth: 360000000
                    vtPerBurn: 44
              schema:
                description: 'Refer <a href="https://github.com/dtube/avalon/blob/f906e422db75cb95a755fef1747785250f8cd181/src/config.js">Config</a>'
                type: object
                properties:
                  accountPriceBase:
                    type: number
                    description: Account basic price
                  accountPriceCharMult:
                    type: number
                  accountPriceChars:
                    type: number
                  accountPriceMin:
                    type: number
                    description: Account minimum price
                  accountMaxLength:
                    type: number
                    description: Username maximum length
                    maximum: 50
                  accountMinLength:
                    type: number
                    description: Account minimum length
                    minimum: 1
                  allowedUsernameChars:
                    type: string
                    description: Allowed username characters
                    pattern: abcdefghijklmnopqrstuvwxyz0123456789
                  allowedUsernameCharsOnlyMiddle:
                    type: string
                    pattern: '-.'
                    description: Allowed middle username characters
                  allowRevotes:
                    type: boolean
                    description: Allow people to vote multiple times on the same content
                  b58Alphabet:
                    type: string
                    description: Base58 encoding alphabet
                  block0ts:
                    type: number
                    description: 'Block #0 genesis timestamp'
                  blockTime:
                    type: number
                    description: Block time in ms
                  bwGrowth:
                    type: number
                    description: Number of ms needed for 0.01 DTC to generate 1 byte of bw
                    example: +10 bytes per hour per DTC (3600 * 1000 * 100 / 10)
                  bwMax:
                    type: number
                    description: Maximum bandwidth per account
                  consensusRounds:
                    type: number
                    description: Number of rounds of consensus before block is valid (min 2)
                  ecoBaseRent:
                    type: number
                    description: Base rentability of votes
                  ecoBlocks:
                    type: number
                    description: Number of blocks from the past taken into consideration for econonomics
                  ecoClaimPrecision:
                    type: number
                    description: Precision of the claimable amounts
                  ecoClaimTime:
                    type: number
                    description: Tequired number of ms(time) before a vote reward can be claimed
                  ecoPunishAuthor:
                    type: boolean
                    description: Vote rewards be altered by downvotes like other votes
                  ecoPunishPercent:
                    type: number
                    description: Percentage of coins that are burnt when there are opposite votes with rewards
                  ecoRentStartTime:
                    type: number
                    description: Number of ms before a vote reaches 100% rentability
                  ecoRentEndTime:
                    type: number
                    description: Number of ms when a vote rentability starts going down
                  ecoRentPrecision:
                    type: number
                  ecoStartRent:
                    type: number
                    description: Rentability of votes
                  followsMax:
                    type: number
                    description: Maximum followers allowed per user
                  hotfix1:
                    type: boolean
                  jsonMaxBytes:
                    type: number
                    description: |-
                      Max size of a stringified json input (content / user profile)
                      Best if kept slightly lower than bwMax
                  keyIdMaxLength:
                    type: number
                    description: Max length of a key identifier
                  leaderReward:
                    type: number
                    description: 'how many max leaders there can be, and how much tokens and VT they earn per "mined" block'
                  leaderRewardVT:
                    type: number
                    description: ''
                  leaders:
                    type: number
                    description: ''
                  leaderShufflePrecision:
                    type: number
                    description: Leader pseudo random generator shuffle
                  leaderMaxVotes:
                    type: number
                    description: Maximum number of leaders an account can vote for
                  masterBalance:
                    type: number
                    description: '"Master" account starting stake (total starting supply)'
                  masterFee:
                    type: number
                    description: |-
                      Tokens distributed before master gets 1 free token printed.
                        masterFee = 2 => <33% fee
                        masterFee = 4 => <20% fee
                        masterFee = 9 => <10% fee
                        masterFee = 19 => <5% fee
                  masterName:
                    type: string
                    description: init account username
                  masterPaysForUsernames:
                    type: boolean
                    description: If false master can create accounts with usernames without burning tokens
                  masterPub:
                    type: string
                    description: Master account public original key
                  masterPubLeader:
                    type: string
                    description: Master account public leader key
                  maxDrift:
                    type: number
                    description: Maximum time drift in ms before a block is invalid
                  maxTxPerBlock:
                    type: number
                    description: Maximum number of transactions in a single block
                  memoMaxLength:
                    type: number
                    description: Max length of a transfer memo
                  notifPurge:
                    type: number
                    description: 'Time taken for a notification to get deleted, and how often the purge happens'
                  notifPurgeAfter:
                    type: number
                  notifMaxMentions:
                    type: number
                    description: Maximum number of mentions triggering a notification
                  originHash:
                    type: string
                    description: sha256sum hash of block 0
                  randomBytesLength:
                    type: number
                    description: Random bytes to use for new key generation
                  rewardPoolMin:
                    type: number
                    description: Minimum hourly reward pool
                  rewardPoolMult:
                    type: number
                    description: Multiplier for the reward pool
                  rewardPoolMaxShare:
                    type: number
                    description: Maximum share of the reward pool
                  rewardPoolUsers:
                    type: number
                    description: Estimated number of active users on the network
                  tagMaxLength:
                    type: number
                    description: Maximum length of tags
                  tagMaxPerContent:
                    type: number
                  tippedVotePrecision:
                    type: number
                    description: Author tip percentage
                  tmpForceTs:
                    type: boolean
                  txExpirationTime:
                    type: number
                    description: Transactions expire time
                  txLimits:
                    type: object
                    description: 'Refer <a href="https://github.com/dtube/avalon/blob/f906e422db75cb95a755fef1747785250f8cd181/src/config.js#L114">Transactions limit</a> & <a href="https://github.com/dtube/avalon/blob/f906e422db75cb95a755fef1747785250f8cd181/src/transactions/index.js#L29">Tx Types</a> '
                    properties:
                      '14':
                        type: number
                      '15':
                        type: number
                      '19':
                        type: number
                  vtGrowth:
                    type: number
                    description: Number of ms needed for 0.01 DTC to generate 1 vt
                  vtPerBurn:
                    type: number
            application/xml:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                type: object
                properties: {}
          headers: {}
  /count:
    get:
      tags:
        - General
      summary: Block height
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    count: 10
              schema:
                description: ''
                type: object
                properties:
                  count:
                    type: number
                    description: Current block number
      description: Get the current block height
  '/block/{block_num}':
    get:
      tags:
        - General
      summary: Block info
      parameters:
        - $ref: '#/components/parameters/block_num'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    _id: 0
                    phash: string
                    timestamp: 0
                    txs:
                      - type: 0
                        data:
                          target: string
                        sender: string
                        ts: 0
                        hash: string
                        signature: string
                    miner: string
                    dist: 0
                    hash: string
                    signature: string
              schema:
                description: ''
                type: object
                properties:
                  _id:
                    type: number
                  phash:
                    type: string
                  timestamp:
                    type: number
                  txs:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      properties:
                        type:
                          type: number
                        data:
                          type: object
                          properties:
                            target:
                              type: string
                        sender:
                          type: string
                        ts:
                          type: number
                        hash:
                          type: string
                        signature:
                          type: string
                  miner:
                    type: string
                  dist:
                    type: number
                  hash:
                    type: string
                  signature:
                    type: string
      description: Get the block info
  /mineBlock:
    get:
      tags:
        - General
      summary: Mine new block
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Force the node to mine block
  /peers:
    get:
      tags:
        - General
      summary: Peers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples: {}
      description: List all peers
  /addPeer:
    post:
      tags:
        - General
      summary: Add websocket peer to the node
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Add your node to peer
  /cache:
    get:
      tags:
        - General
      summary: Debugging cache object
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Debugging cache object
  /cacheb:
    get:
      tags:
        - General
      summary: Debugging cached blocks
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Debugging cached blocks
  /nextblock:
    get:
      tags:
        - General
      summary: Debugging consensus data
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Debugging consensus data
  '/distributed/{username}':
    get:
      tags:
        - General
      summary: Distributed
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: string
                      name: string
                      dist: 0
                      ts: 0
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: Content id
                    name:
                      type: string
                      description: Username/author/channel name
                    dist:
                      type: number
                      description: Distributer name
                    ts:
                      type: number
                      description: Timestamp
      description: List all the contant distributed by the user ie. This is like a hosting provider. Any users can become a distributer by providing your own IPFS
  '/oembed/:url':
    get:
      tags:
        - General
      summary: Oembed
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Fetching oembed from url
  '/opengraph/:url':
    get:
      tags:
        - General
      summary: Opengraph
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Fetching opengraph data from url
  /rewardPool:
    get:
      tags:
        - General
      summary: Reward pool
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples: {}
              schema:
                description: ''
                type: object
                properties:
                  burn:
                    type: number
                  dist:
                    type: number
                  votes:
                    type: number
                  theo:
                    type: number
                  avail:
                    type: number
      description: Reward pool gets allocated based on the network status
  /newKeyPair:
    get:
      tags:
        - Auth
      summary: New key pair
      servers:
        - url: 'http://localhost:3001'
          description: Your local avalon node
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  pub:
                    type: string
                    minLength: 1
                    description: Public key
                  priv:
                    type: string
                    minLength: 1
                    description: Private key (Don't share it with anyone)
              examples:
                example-1:
                  value:
                    pub: string
                    priv: string
      description: Generate new key pair
  '/notifications/{username}':
    get:
      tags:
        - User
      summary: Notifications
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: string
                      u: string
                      tx:
                        type: 0
                        data:
                          author: string
                          link: string
                          vt: 0
                          tag: string
                        sender: string
                        ts: 0
                        hash: string
                        signature: string
                      ts: 0
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      minLength: 1
                      description: Content id
                    u:
                      type: string
                      minLength: 1
                      description: Username
                    tx:
                      type: object
                      description: 'Refer <a href="https://github.com/dtube/avalon/blob/f906e422db75cb95a755fef1747785250f8cd181/src/transactions/index.js#L29">Tx Types</a>'
                      properties:
                        type:
                          type: number
                        data:
                          type: object
                          properties:
                            author:
                              type: string
                              minLength: 1
                              description: User who create a post
                            link:
                              type: string
                              minLength: 1
                              description: Link of the post
                            vt:
                              type: number
                              description: Vote count on the post
                            tag:
                              type: string
                              description: List all tags
                        sender:
                          type: string
                          minLength: 1
                          description: Dtube user who create a tx ie. Like/dislike/comment on the post
                        ts:
                          type: number
                          description: Timestamp
                        hash:
                          type: string
                          minLength: 1
                        signature:
                          type: string
                          minLength: 1
                    ts:
                      type: number
                      description: Timestamp
      description: Return user notifications
  '/followers/{username}':
    get:
      tags:
        - User
      summary: Followers
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties: {}
              examples:
                example-1:
                  value:
                    - {}
      description: Return user followers
  '/follows/{username}':
    get:
      tags:
        - User
      summary: Following
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties: {}
              examples:
                example-1:
                  value:
                    - {}
      description: Return user following
  '/account/{username}':
    get:
      tags:
        - User
      summary: User info
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    _id: string
                    name: string
                    pub: string
                    balance: 0
                    bw:
                      v: 0
                      t: 0
                    vt:
                      v: 0
                      t: 0
                    follows:
                      - {}
                    followers:
                      - {}
                    keys:
                      - {}
                    created:
                      by: string
                      ts: 0
                    json:
                      profile:
                        avatar: string
                        cover_image: string
                        about: string
                        location: string
                        website: string
                        steem: string
                        hive: string
                    approves:
                      - {}
                    pub_leader: string
                    node_appr: 0
              schema:
                description: ''
                type: object
                properties:
                  _id:
                    type: string
                    description: Account id
                  name:
                    type: string
                    description: Username/channel name
                  pub:
                    type: string
                    description: Public key
                  balance:
                    type: number
                    description: User balance
                  bw:
                    type: object
                    description: User bandwidth
                    properties:
                      v:
                        type: number
                      t:
                        type: number
                  vt:
                    type: object
                    description: User voting power
                    properties:
                      v:
                        type: number
                      t:
                        type: number
                  follows:
                    type: array
                    description: User following
                    items:
                      type: object
                  followers:
                    type: array
                    description: User followers
                    items:
                      type: object
                  keys:
                    type: array
                    items:
                      type: object
                  created:
                    type: object
                    properties:
                      by:
                        type: string
                      ts:
                        type: number
                  json:
                    type: object
                    properties:
                      profile:
                        type: object
                        properties:
                          avatar:
                            type: string
                            description: Profile picture url
                          cover_image:
                            type: string
                            description: Cover image url
                          about:
                            type: string
                            description: About section
                          location:
                            type: string
                            description: User location
                          website:
                            type: string
                            description: User website
                          steem:
                            type: string
                            description: User steem account
                          hive:
                            type: string
                            description: User hive account
                  approves:
                    type: array
                    description: List of leaders approved by this user
                    items:
                      type: object
                  pub_leader:
                    type: string
                    description: Public leader key
                  node_appr:
                    type: number
      description: Get account details
  '/accounts/{usernames}':
    get:
      tags:
        - User
      summary: Multiple user's info
      parameters:
        - $ref: '#/components/parameters/usernames'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      description: Return multiple user account details
  '/blog/{username}':
    get:
      tags:
        - User
      summary: Channel page
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: string
                      author: string
                      link: string
                      pa: null
                      pp: null
                      json:
                        files:
                          youtube: string
                        title: string
                        desc: string
                        dur: string
                        tag: string
                        hide: 0
                        nsfw: 0
                        oc: 0
                        refs:
                          - {}
                      child:
                        - '0':
                            - {}
                      votes:
                        - u: string
                          ts: 0
                          vt: 0
                          tip: 0
                          tag: string
                          gross: 0
                          totalTip: 0
                          claimable: 0
                          claimed: 0
                      ts: 0
                      tags:
                        onelovedtube: 0
                        dtube: 0
                      dist: 0
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: Content id
                    author:
                      type: string
                      description: Content author/username
                    link:
                      type: string
                      description: Content link
                    pa: {}
                    pp: {}
                    json:
                      type: object
                      properties:
                        files:
                          type: object
                          description: Source orgin of the content
                          properties:
                            youtube:
                              type: string
                        title:
                          type: string
                          description: Title of the content
                        desc:
                          type: string
                          description: Description of the content
                        dur:
                          type: string
                          description: Duration of the content in seconds
                        tag:
                          type: string
                          description: Tags
                        hide:
                          type: number
                        nsfw:
                          type: number
                        oc:
                          type: number
                        refs:
                          type: array
                          description: Steem/Hive link
                          items:
                            type: object
                    child:
                      type: array
                      items:
                        type: object
                        properties:
                          '0':
                            type: array
                            uniqueItems: true
                            items:
                              type: object
                    votes:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      description: Total vote count on the content
                      items:
                        type: object
                        properties:
                          u:
                            type: string
                            description: Username of the user who vote on this content
                          ts:
                            type: number
                            description: Vote timestamp
                          vt:
                            type: number
                            description: Vote power amount
                          tip:
                            type: number
                            description: 'Tip in percentage '
                          tag:
                            type: string
                            description: Tags
                          gross:
                            type: number
                          totalTip:
                            type: number
                            description: Total tip in percentage
                          claimable:
                            type: number
                            description: Total claimable amount
                          claimed:
                            type: number
                            description: Total claimed amount
                    ts:
                      type: number
                      description: Timestamp
                    tags:
                      type: object
                      description: Content tags
                      properties:
                        onelovedtube:
                          type: number
                        dtube:
                          type: number
                    dist:
                      type: number
      description: Return channel info
  '/blog/{username}/{author}/{link}':
    get:
      tags:
        - User
      summary: Get single post in detail
      parameters:
        - $ref: '#/components/parameters/username'
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/history/{username}/0':
    get:
      tags:
        - Transaction
      summary: Recent transaction history
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: 0
                      phash: string
                      timestamp: 0
                      txs:
                        - type: 0
                          data:
                            pub: string
                            name: string
                          sender: string
                          ts: 0
                          hash: string
                          signature: string
                      miner: string
                      dist: 0
                      hash: string
                      signature: string
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: number
                      description: ID
                    phash:
                      type: string
                    timestamp:
                      type: number
                    txs:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      description: 'Refer <a href="https://github.com/dtube/avalon/blob/f906e422db75cb95a755fef1747785250f8cd181/src/transactions/index.js#L29">Tx Types</a>'
                      items:
                        type: object
                        properties:
                          type:
                            type: number
                          data:
                            type: object
                            properties:
                              pub:
                                type: string
                              name:
                                type: string
                          sender:
                            type: string
                          ts:
                            type: number
                          hash:
                            type: string
                          signature:
                            type: string
                    miner:
                      type: string
                    dist:
                      type: number
                    hash:
                      type: string
                    signature:
                      type: string
  '/history/{author}/{block_num}':
    get:
      tags:
        - Transaction
      summary: Transaction history
      parameters:
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/block_num'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: 0
                      phash: string
                      timestamp: 0
                      txs:
                        - type: 0
                          data:
                            receiver: string
                            amount: 0
                            memo: string
                          sender: string
                          ts: 0
                          hash: string
                          signature: string
                      miner: string
                      dist: 0
                      hash: string
                      signature: string
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: number
                    phash:
                      type: string
                    timestamp:
                      type: number
                    txs:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        properties:
                          type:
                            type: number
                          data:
                            type: object
                            properties:
                              receiver:
                                type: string
                              amount:
                                type: number
                              memo:
                                type: string
                          sender:
                            type: string
                          ts:
                            type: number
                          hash:
                            type: string
                          signature:
                            type: string
                    miner:
                      type: string
                    dist:
                      type: number
                    hash:
                      type: string
                    signature:
                      type: string
  /transact:
    post:
      tags:
        - Transaction
      summary: Transact
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /new:
    get:
      tags:
        - Posts
      summary: Get latest posts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: string
                      author: string
                      link: string
                      pa: null
                      pp: null
                      json:
                        files:
                          ipfs:
                            vid:
                              '240': string
                              src: string
                            img:
                              '118': string
                              '360': string
                              spr: string
                            gw: string
                        title: string
                        desc: string
                        tag: string
                        dur: 0
                        hide: 0
                        nsfw: 0
                        oc: 0
                        refs:
                          - {}
                      child:
                        - {}
                      votes:
                        - u: string
                          ts: 0
                          vt: 0
                          tag: string
                          gross: 0
                          claimable: 0
                      ts: 0
                      tags:
                        '#trend': 0
                      dist: 0
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    author:
                      type: string
                    link:
                      type: string
                    pa: {}
                    pp: {}
                    json:
                      type: object
                      properties:
                        files:
                          type: object
                          properties:
                            ipfs:
                              type: object
                              properties:
                                vid:
                                  type: object
                                  properties:
                                    '240':
                                      type: string
                                    src:
                                      type: string
                                img:
                                  type: object
                                  properties:
                                    '118':
                                      type: string
                                    '360':
                                      type: string
                                    spr:
                                      type: string
                                gw:
                                  type: string
                        title:
                          type: string
                        desc:
                          type: string
                        tag:
                          type: string
                        dur:
                          type: number
                        hide:
                          type: number
                        nsfw:
                          type: number
                        oc:
                          type: number
                        refs:
                          type: array
                          items:
                            properties: {}
                    child:
                      type: array
                      items:
                        properties: {}
                    votes:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        properties:
                          u:
                            type: string
                          ts:
                            type: number
                          vt:
                            type: number
                          tag:
                            type: string
                          gross:
                            type: number
                          claimable:
                            type: number
                    ts:
                      type: number
                    tags:
                      type: object
                      properties:
                        '#trend':
                          type: number
                    dist:
                      type: number
  '/feed/{username}':
    get:
      tags:
        - Posts
      summary: Get user feed
      parameters:
        - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - _id: string
                      author: string
                      link: string
                      pa: null
                      pp: null
                      json:
                        files:
                          youtube: string
                        title: string
                        desc: string
                        dur: string
                        tag: string
                        hide: 0
                        nsfw: 0
                        oc: 0
                        refs:
                          - {}
                      child:
                        - {}
                      votes:
                        - u: string
                          ts: 0
                          vt: 0
                          tip: 0
                          gross: 0
                          totalTip: 0
                          claimable: 0
                      ts: 0
                      tags:
                        horology: 0
                      dist: 0
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    author:
                      type: string
                    link:
                      type: string
                    pa: {}
                    pp: {}
                    json:
                      type: object
                      properties:
                        files:
                          type: object
                          properties:
                            youtube:
                              type: string
                        title:
                          type: string
                        desc:
                          type: string
                        dur:
                          type: string
                        tag:
                          type: string
                        hide:
                          type: number
                        nsfw:
                          type: number
                        oc:
                          type: number
                        refs:
                          type: array
                          items:
                            properties: {}
                    child:
                      type: array
                      items:
                        properties: {}
                    votes:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        properties:
                          u:
                            type: string
                          ts:
                            type: number
                          vt:
                            type: number
                          tip:
                            type: number
                          gross:
                            type: number
                          totalTip:
                            type: number
                          claimable:
                            type: number
                    ts:
                      type: number
                    tags:
                      type: object
                      properties:
                        horology:
                          type: number
                    dist:
                      type: number
  '/content/{author}/{link}':
    get:
      tags:
        - Posts
      summary: Get content by id
      parameters:
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    _id: string
                    author: string
                    link: string
                    pa: null
                    pp: null
                    json:
                      files:
                        youtube: string
                      title: string
                      desc: string
                      dur: string
                      tag: string
                      hide: 0
                      nsfw: 0
                      oc: 0
                      refs:
                        - {}
                    child:
                      - '0':
                          - {}
                    votes:
                      - u: string
                        ts: 0
                        vt: 0
                        tip: 0
                        tag: string
                        gross: 0
                        totalTip: 0
                        claimable: 0
                        claimed: 0
                    ts: 0
                    tags:
                      onelovedtube: 0
                      dtube: 0
                    dist: 0
                    comments:
                      heimindanger/1a0vaasb7li:
                        _id: string
                        author: string
                        link: string
                        pa: string
                        pp: string
                        json:
                          description: string
                          title: string
                        child:
                          - '0':
                              - {}
                        votes:
                          - u: string
                            ts: 0
                            vt: 0
                            gross: 0
                            claimable: 0
                            claimed: 0
                        ts: 0
                        dist: 0
                      crypt0inf0/e42tz950kur:
                        _id: string
                        author: string
                        link: string
                        pa: string
                        pp: string
                        json:
                          description: string
                          title: string
                        child:
                          - '0':
                              - {}
                        votes:
                          - u: string
                            ts: 0
                            vt: 0
                            gross: 0
                            claimable: 0
                        ts: 0
                        dist: 0
                      heimindanger/gjfrnchpyzj:
                        _id: string
                        author: string
                        link: string
                        pa: string
                        pp: string
                        json:
                          description: string
                          title: string
                        child:
                          - {}
                        votes:
                          - u: string
                            ts: 0
                            vt: 0
                            gross: 0
                            claimable: 0
                            claimed: 0
                        ts: 0
                        dist: 0
              schema:
                description: ''
                type: object
                properties:
                  _id:
                    type: string
                  author:
                    type: string
                  link:
                    type: string
                  pa: {}
                  pp: {}
                  json:
                    type: object
                    properties:
                      files:
                        type: object
                        properties:
                          youtube:
                            type: string
                      title:
                        type: string
                      desc:
                        type: string
                      dur:
                        type: string
                      tag:
                        type: string
                      hide:
                        type: number
                      nsfw:
                        type: number
                      oc:
                        type: number
                      refs:
                        type: array
                        items:
                          properties: {}
                  child:
                    type: array
                    items:
                      properties:
                        '0':
                          type: array
                          uniqueItems: true
                          items:
                            properties: {}
                  votes:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      properties:
                        u:
                          type: string
                        ts:
                          type: number
                        vt:
                          type: number
                        tip:
                          type: number
                        tag:
                          type: string
                        gross:
                          type: number
                        totalTip:
                          type: number
                        claimable:
                          type: number
                        claimed:
                          type: number
                  ts:
                    type: number
                  tags:
                    type: object
                    properties:
                      onelovedtube:
                        type: number
                      dtube:
                        type: number
                  dist:
                    type: number
                  comments:
                    type: object
                    properties:
                      heimindanger/1a0vaasb7li:
                        type: object
                        properties:
                          _id:
                            type: string
                          author:
                            type: string
                          link:
                            type: string
                          pa:
                            type: string
                          pp:
                            type: string
                          json:
                            type: object
                            properties:
                              description:
                                type: string
                              title:
                                type: string
                          child:
                            type: array
                            items:
                              properties:
                                '0':
                                  type: array
                                  uniqueItems: true
                                  items:
                                    properties: {}
                          votes:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              properties:
                                u:
                                  type: string
                                ts:
                                  type: number
                                vt:
                                  type: number
                                gross:
                                  type: number
                                claimable:
                                  type: number
                                claimed:
                                  type: number
                          ts:
                            type: number
                          dist:
                            type: number
                      crypt0inf0/e42tz950kur:
                        type: object
                        properties:
                          _id:
                            type: string
                          author:
                            type: string
                          link:
                            type: string
                          pa:
                            type: string
                          pp:
                            type: string
                          json:
                            type: object
                            properties:
                              description:
                                type: string
                              title:
                                type: string
                          child:
                            type: array
                            items:
                              properties:
                                '0':
                                  type: array
                                  uniqueItems: true
                                  items:
                                    properties: {}
                          votes:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              properties:
                                u:
                                  type: string
                                ts:
                                  type: number
                                vt:
                                  type: number
                                gross:
                                  type: number
                                claimable:
                                  type: number
                          ts:
                            type: number
                          dist:
                            type: number
                      heimindanger/gjfrnchpyzj:
                        type: object
                        properties:
                          _id:
                            type: string
                          author:
                            type: string
                          link:
                            type: string
                          pa:
                            type: string
                          pp:
                            type: string
                          json:
                            type: object
                            properties:
                              description:
                                type: string
                              title:
                                type: string
                          child:
                            type: array
                            items:
                              properties: {}
                          votes:
                            type: array
                            uniqueItems: true
                            minItems: 1
                            items:
                              properties:
                                u:
                                  type: string
                                ts:
                                  type: number
                                vt:
                                  type: number
                                gross:
                                  type: number
                                claimable:
                                  type: number
                                claimed:
                                  type: number
                          ts:
                            type: number
                          dist:
                            type: number
  '/feed/{username}/{author}/{link}':
    get:
      tags:
        - Posts
      summary: Get user feed in detail
      parameters:
        - $ref: '#/components/parameters/username'
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /hot:
    get:
      tags:
        - Posts
      summary: Hot videos
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    author:
                      type: string
                    link:
                      type: string
                    json:
                      type: object
                      properties:
                        files:
                          type: object
                          properties:
                            ipfs:
                              type: object
                              properties:
                                vid:
                                  type: object
                                  properties:
                                    src:
                                      type: string
                                img:
                                  type: object
                                  properties:
                                    '118':
                                      type: string
                                    '360':
                                      type: string
                                    spr:
                                      type: string
                                gw:
                                  type: string
                        title:
                          type: string
                        desc:
                          type: string
                        tag:
                          type: string
                        dur:
                          type: string
                        hide:
                          type: number
                        nsfw:
                          type: number
                        oc:
                          type: number
                        refs:
                          type: array
                          items:
                            properties: {}
                    child:
                      type: array
                      items:
                        properties: {}
                    votes:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        properties:
                          u:
                            type: string
                          ts:
                            type: number
                          vt:
                            type: number
                          tag:
                            type: string
                          gross:
                            type: number
                          claimable:
                            type: number
                    ts:
                      type: number
                    tags:
                      type: object
                      properties:
                        volleyball:
                          type: number
                    dist:
                      type: number
                    score:
                      type: number
                    ups:
                      type: number
                    downs:
                      type: number
              examples:
                example-1:
                  value:
                    - _id: string
                      author: string
                      link: string
                      json:
                        files:
                          ipfs:
                            vid:
                              src: string
                            img:
                              '118': string
                              '360': string
                              spr: string
                            gw: string
                        title: string
                        desc: string
                        tag: string
                        dur: string
                        hide: 0
                        nsfw: 0
                        oc: 0
                        refs:
                          - {}
                      child:
                        - {}
                      votes:
                        - u: string
                          ts: 0
                          vt: 0
                          tag: string
                          gross: 0
                          claimable: 0
                      ts: 0
                      tags:
                        volleyball: 0
                      dist: 0
                      score: 0
                      ups: 0
                      downs: 0
  '/hot/{author}/{link}':
    get:
      tags:
        - Posts
      summary: Hot videos in detail
      parameters:
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/new/{author}/{link}':
    get:
      tags:
        - Posts
      summary: New videos in detail
      parameters:
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /trending:
    get:
      tags:
        - Posts
      summary: Trending videos
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    author:
                      type: string
                    link:
                      type: string
                    pa: {}
                    pp: {}
                    json:
                      type: object
                      properties:
                        files:
                          type: object
                          properties:
                            youtube:
                              type: string
                        title:
                          type: string
                        desc:
                          type: string
                        dur:
                          type: string
                        tag:
                          type: string
                        hide:
                          type: number
                        nsfw:
                          type: number
                        oc:
                          type: number
                        refs:
                          type: array
                          items:
                            properties: {}
                    child:
                      type: array
                      items:
                        properties: {}
                    votes:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        properties:
                          u:
                            type: string
                          ts:
                            type: number
                          vt:
                            type: number
                          tag:
                            type: string
                          gross:
                            type: number
                          claimable:
                            type: number
                    ts:
                      type: number
                    tags:
                      type: object
                      properties:
                        asmr:
                          type: number
                    dist:
                      type: number
                    score:
                      type: number
                    ups:
                      type: number
                    downs:
                      type: number
              examples:
                example-1:
                  value:
                    - _id: string
                      author: string
                      link: string
                      pa: null
                      pp: null
                      json:
                        files:
                          youtube: string
                        title: string
                        desc: string
                        dur: string
                        tag: string
                        hide: 0
                        nsfw: 0
                        oc: 0
                        refs:
                          - {}
                      child:
                        - {}
                      votes:
                        - u: string
                          ts: 0
                          vt: 0
                          tag: string
                          gross: 0
                          claimable: 0
                      ts: 0
                      tags:
                        asmr: 0
                      dist: 0
                      score: 0
                      ups: 0
                      downs: 0
  '/youtube/{video_id}':
    get:
      tags:
        - Posts
      summary: Youtube
      parameters:
        - $ref: '#/components/parameters/video_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  '/trending/{author}/{link}':
    get:
      tags:
        - Posts
      summary: Trending videos in detail
      parameters:
        - $ref: '#/components/parameters/author'
        - $ref: '#/components/parameters/link'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /schedule:
    get:
      tags:
        - default
      summary: Return current N blocks witness shuffle
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}